                div#wrapper {
                            width:960px;
                            margin-left:auto;
                            margin-right:auto;
                            background-color:black;
                            outline: #312A2A solid 2px;
                            outline-offset: -15px;
                            padding:30px;
                            }
                            
                header     {
                            width:960px;
                            height:400px;
                            background-image: url(../img/music-notes.jpg);
                            background-size: 960px 400px;
                            background-repeat: no-repeat;
                            }

                    
            
                .search     {
                            color:white;
                            float: right;
                            clear:both;
                            margin-top: -50px;
                            }
                
                @font-face {
                            font-family: Cinzel;
                            src: url("https://fonts.googleapis.com/css?family=Cinzel:700")
                            ;
}

                h1.homepg
                            {
                            font-family: Cinzel; width:450px;
                            color: #856923;
                            margin-right:20px;
                            font-size:65px;
                            text-align: center;
                            padding: 40px;
                            float:right;
                            text-shadow:2px 2px 2px  #312A2A;
                            clear:both;
                            font-family: ;}

                h1.pages
                            {
                            font-family: Cinzel; 
                            width:450px;
                            color: #856923;
                            margin-top: 60px;
                            //margin-bottom: 100px;
                            margin-right:20px;
                            font-size:58px;
                            text-align: center;
                            padding: 40px;
                            float:right;
                            text-shadow:2px 2px 2px  #312A2A;
                            clear:both;
                           }     
                
                h2          {
                            color:  #856923;
                            font-family: Cinzel; 
                            text-shadow:1px 1px 1px #312A2A;
                            }                 
                
                h3          {
                            font-family: Cinzel;
                            text-decoration:none;
                            color:  #856923;
                            font-family: serif;
                            }              
                
               h4           {
                            font-family: Cinzel;
                            text-decoration:none;
                            color:  #856923;
                            font-family: serif;
                            }                
                
            
                body.p      {
                            line-height: 21px;
                            font-size: 16px;
                            font-family: sans-serif;
                            color:white;}
							
				footer 		{
				            margin-top:40px;
                            border-top:#312A2A solid 2px; 
                            height:150px;
                            clear:both;} 
				
                footer p   {
                            font-size: 21px;
                            font-family: serif;
                            color:#856923;
                            }
            
            
                ul     {
                            list-style-type: none;
                            }
            
                ol      {
                            list-style-type:circle;
                            }
 /*NAV*/
            ul#navlist li.current   {
                                        border: #312A2A solid 1px ;
                                        background-color: #413E38;
                                        }
            
                li.current a {
                             font-weight: bold;
                             }
            
                ul#navlist  {
	                        padding: 8px;
                            list-style-type: none;
                            width: 950px;
                            height: 40px;
                            border-top: #312A2A solid 2px;
                            border-bottom: #312A2A solid 2px;
                            }

            
                ul#navlist>li   {
                                float: left;
				                width: 154px;
				                height: 40 px;
				                background-color: #272020;
                                opacity:0.8;
				                line-height: 40px;
				                text-align: center;
				                font-size: 15px;
                                margin-right: 4px;
                                display:block;
                                text-decoration:none;
				                color:#856923;
				                font-size: 19px;
                                }
            
            
                ul#navlist>li a {
				                text-decoration:none;
				                color:#856923;
				                display: block;
                                font-size: 19px;
				                font-family: sans-serif;}     
            
            
                ul#navlist>li a:hover  
                                    {
	                                 color: #ffffff;
	                                 background-color: #856923;
                                     border: #312A2A solid 1px;
                                    }
	                 
            
                  
                    #dropdown       {
                                    display:none;
                                    margin:0;
                                    padding:0;
                                    height:0;
                                    width:154px;
                                    }
                    
                    
                     
            ul#navlist #dropdown  {
                                    display:none;
                                   }
           
            
            
              ul#navlist li:hover ul#dropdown   {
					                            display: block;
                                                position:absolute;
                                                }
              

                ul#navlist li:hover ul#dropdown li      {
                                                        background-color: #272020; 
                                                        } 
                
                section.location a {
                                    display: inline;
                                    float:left;
                                    //clear:both;
                                    text-decoration:none;
                                    color:  #413E38;
                                    margin-top: 30px;       
                                    margin-bottom:20px;
                                    margin-left: 20px;
                                    font-family: sans-serif;
                                    font-size: 14px;
                                    //opacity:0.7;
                                    }
            
            
                section.location a.current {
                                            color:#856923;
                                            //opacity:0.9;
                                            }
              
    
                section.location a:hover      {
                                    text-decoration: underline;
                                    color: #ffffff;
                                    }
    
                section.location a:active     {
                                                color: #ffffff;
	                                           background-color: #856923;
                                                }
                    
                 
                footer a            {
                                    clear:both;
                                    color: #856923;
                                    font-family: sans-serif;
                                    font-size: 16px;
                                    text-decoration:none;
                                    }    


/*IMAGES*/
                img.logo            {
                                    //float:left;
                                    border:#312A2A solid 1px;
                                    background-color: palegoldenrod;
                                    margin-top: 40px;
                                    margin-left: 80px;
                                    margin-bottom: 80px;
                                    }
                           
            
                img.irishmusic      {
                                    border:#312A2A solid 1px;
                                    background-color: palegoldenrod;
                                    margin-top: 20px;
                                    margin-left: 30px;
                                    margin-bottom:20px;
                                    float:right;
                                    }
            
                img.thefiddle       {
                                    border:#312A2A solid 1px;
                                    background-color: palegoldenrod;
                                    margin-top: 20px;
                                    margin-right: 30px;
                                    margin-bottom:20px;
                                    float:right;
                                    }  
								
                img.whychoosefiddle       {
                                            margin-top: 0px;
                                            margin-right: 50px;
                                            margin-left: 50px;
                                            margin-bottom:20px;
                                            float:right;
                                            padding:20px;}  
				

                img.benefits                {
                                    border:#312A2A solid 1px;
                                    margin-top: 80px;
                                    margin-left: 30px;
                                    margin-bottom:20px;
                                    padding:0;
                                    float:left;
                                    }            
                
                img.musicstaffimg,
                img.linenotesimg,
                img.spacenotesimg   {
                                    border:#312A2A solid 1px;
                                    background-color: white;
                                    margin-top:30px;
                                    margin-right: 40px;
                                    padding-left:50px;
                                    padding-right: 50px;
                                    float:right;
                                    }  
                
                img.reelimg, 
                img.jigimg,
                img.polkaimg        {
                                    //margin-bottom: 60px;
                                    padding: 70px;
                                   }
                    
                img.civicreception,
                img.recordingimg
                                    {
                                    padding-left:85px;
                                    padding-right:85px;
                                    padding-bottom: 50px;
                                    padding-top:50px;
                                    }

                
                img.sessionimg      {
                                    padding-left:150px;
                                    padding-right:150px;
                                    padding-top:50px;
                                    padding-bottom:50px;      
                                    }
                
                video.fleadh        {
                                    padding-left:205px;
                                    padding-right:200px;
                                    padding-top:50px;
                                    padding-bottom:50px;
                                    //border-top: #312A2A solid 1px;}

                #thumbwrap         {
	                               margin:75px auto;
	                               width:252px; height:252px;
                                   float:right;}

                .thumb             {
	                               float:left; 
	                               margin:3px;
                                   }
                
                .thumb img         { 
	                               border:1px solid #000;
	                               vertical-align:bottom;
                                   }

                .thumb:hover       {
	                               border:0;
	                               z-index:1;
                                   }
                
                .thumb span        { 
	                               position:absolute;
	                               visibility:hidden;
                                   }

                .thumb:hover span { 
	                               visibility:visible;
	                               top:900px; left:650px; 
                                  }
		



/*ARTICLES*/                
                article             {
                                    margin-top:90px;
                                    margin-left:20px;
                                    margin-right:20px;
									margin-bottom:40px;
                                    padding:5px;
                                    }

                article.about,
                article.whychoosethefiddle,
                article.thefiddle,
				article.benefits,
                article.basicmusicnotation,  
                article.choosingsize, 
                article.aboutbow    {
                                    padding:5px;
                                    //margin-left:20px;
                                    //margin-right:20px;
									//margin-bottom:40px;
									//margin-top:60px;
                                    font-size: 16px;
                                    font-family: sans-serif;
                                    color:white;
                                    }
                
                div.whythefiddle p
                                    {
                                    padding-left:20px;
                                    padding-right:20px;
                                    line-height:25px;
                                    width:380px;
                                    }
                div.whythefiddle p
                                    {
                                    padding-left:20px;
                                    padding-right:20px;
                                    line-height:25px;
                                    width:380px;
                                    }

                .benefits>ul    
                                {float:left;
                                clear:right;
                                margin-left:10px;
                                padding-left:60px;
                                padding-right:40px;
                                width:400px;
                                line-height:25px;
                                list-style-type:square;
                                margin-bottom:80px;}
                .whythefiddle>ul    
                                {
                                margin-left:40px;
                                padding-left:10px;
                                padding-right:10px;
                                width:350px;
                                line-height:25px;
                                list-style-type:square;
                                }

                .about>.intro   {
                                            width:800px;       margin-left:auto;
                                            margin-right: auto;
                                            font-size: 16px;
                                            font-family: sans-serif;
                                            color:white;
                                            padding-top:10px;
                                            padding-left:20px;
                                            line-height:25px;
                                            clear:both;
                                            }

                .about>.intro h2 {
                                        margin-left:-60px;
                                        //border-top: #312A2A solid 1px;
                                        padding-top:10px;
                                        padding-bottom:40px;
                                        }

/*page2*/
                
                div#abcnotation
                                    {
                                    width:900;
                                    margin-top: 50px;
                                    border-top: #312A2A solid 1px;
                                    //padding-top:1Opx;
                                    clear:both;}
           
                
                div#abcnotation>h3 
                                    {
                                    margin-top: 0px;
                                    text-align: left;
                                    text-decoration-line: underline;
                                    padding-top: 40px;
                                    padding-bottom:40px;
                                    padding-left:20px;
                                    font-size:20px;
                                    //clear:both;
                                    }


                div#abcnotation p   {
                                    width:330px;
                                    font-size: 16px;
                                    font-family: sans-serif;
                                    color:white;
                                    padding-left: 20px;
                                    padding-right: 20px;
                                    padding-top:0;
                                    line-height:25px;
                                    float:left;
                                    //clear:right;}


                img.solfege_ABC     {
                                    margin-left:20px;
                                    margin-right:10px;
                                    margin-top:20px;
                                    margin-bottom:20px;
                                    float:right;}


                #scaleaudio         {
                                    float: right;
                                    margin-top: 15px;
                                    margin-left:200px;
                                    margin-right:115px;
                                    margin-bottom: 50px;
                                    clear:both;
                                    padding-bottom:45px;}


                .basicmusicnotation>div.intro   { 
                                                font-size: 16px;
                                                font-family: sans-serif;
                                                color:white;
                                                padding-top:3px;
                                                line-height:25px;
                                                clear:both;
                                                }

                .basicmusicnotation h2          { 
                                                //border-top: #312A2A solid 1px;
                                                padding-top:10px;             }

                  #manuscriptnotation >.intro                                           {            
                                                margin-top:0px;
                                                margin-bottom: 0px;
                                                font-size: 16px;
                                                font-family: sans-serif;
                                                color:white;
                                                padding-bottom:60px;
                                                padding-left:20px;
                                                line-height:25px;
                                                clear:both;
                                                }
                
                    .intro a:link       {
                                        color:#856923;
                                        text-decoration:none;
                                        }
    
                    .intro a:visited    {
                                        color:  gray;
                                        }
    
                    .intro a:hover      {
                                        text-decoration: underline;
                                        font-weight:bold;
                                        color: #ffffff;
                                        background-color: #856923;
                                        }
    
                    .intro a:active     {
                                        color: #ffffff;
	                                   background-color: #856923;
                                        font-weight: bold;
                                        }
                    
                    
                
                
                
                
                
                div#manuscriptnotation>h3  {
                                            margin-top: 0px;
                                            text-align: left;
                                            text-decoration-line: underline;
                                            padding-top: 60px;
                                            padding-bottom: 30px;
                                            padding-left: 20px;
                                            font-size:20px;
                                            clear:both;
                                            border-top: #312A2A solid 1px;
                                            }
           

                div.staff p                 {
                                            width:330px;
                                            font-size: 16px;
                                            font-family: sans-serif;
                                            color:white;
                                            padding-left: 40px;
                                            padding-right: 40px;
                                            padding-top:0;
                                            line-height:25px;
                                            float:left;
                                            //clear:right;
                                            }

                ul.partsdiscriptions       {
                                            list-style-type: square;
                                            color:#856923;
                                            width:320px;
                                            padding-right:50px;
                                            float:left;
                                           margin-bottom: 8px;}

                div.partsoffiddle        {
                                        padding-top:60px;
                                        padding-bottom:60px;}

                .linesandspaces h3      {
                                        text-align: left;
                                        clear:both;
                                        padding-left:30px;
                                        padding-top:100px;
                                        } 

                .linesandspaces p       {
                                        width:300px;
                                        font-size: 16px;
                                        font-family: sans-serif;
                                        color:white;
                                        padding-left: 35px;
                                        line-height:25px;
                                        margin-top:0;
                                        float:left;
                                        }

                .linesandspaces>ol      {
                                        width: 200px;
                                        font-size: 16px;
                                        font-family: sans-serif;
                                        color:white;
                                        line-height:25px;
                                        margin-top:0;
                                        float:left;
                                        padding-left:80px;}
    
/*page3a*/
                .choosingsize>.intro   {
                                        width:800px;       margin-left:auto;
                                        margin-right: auto;
                                        margin-bottom: 0px;
                                        font-size: 16px;
                                        font-family: sans-serif;
                                        color:white;
                                        padding-bottom:60px;
                                        padding-left:20px;
                                        line-height:25px;
                                        clear:both;
                                        }

                .choosingsize>.intro h2 {
                                        margin-left:-60px;
                                        //border-top: #312A2A solid 1px;
                                        padding-top:10px;
                                        padding-bottom:40px;
                                        }

                .partsoffiddle h2       {
                                        border-top: #312A2A solid 1px;
                                        padding-top:30px;
                                        }


        /*TABLE*/ 

                table               {
                                    width: 900px;
                                    text-align: center;
                                    border:none;
                                    margin: auto;
                                    }

                                    
                td.fiddlesize, 
                td.sizesuitable,
                                    {
                                    line-height: 80px; 
                                    border:#312A2A solid 2px;
                                    border-collapse: collapse;
                                    color:black;
                                    background-color:white;
                                    font-family: sans-serif;
                                    padding: 10px;
                                    }

                tr.fiddlesizerow,
                tr.sizesuitablerow,
                tr.fiddlesizeimgsrow  {
                                        line-height: 80px; 
                                        border:#312A2A solid 2px;
                                        border-collapse: collapse;
                                        color:black;
                                        background-color:white;
                                        font-family: sans-serif;
                                        padding: 10px;
                                        }



                td.footer           {
                                    background-color: #272020; 
                                    color: #856923;
                                    font-family: sans-serif;
                                    padding:10px;}   


                td.tableheading     {
                                    color:#856923;
                                    background-color: #272020;
                                    border border:#312A2A solid 2px;
                                    border-collapse: collapse;
                                    font-family: sans-serif;}  
            

                td.col1, td.col9    {
                                    width:90px:
                                    border-left:none;
                                    background-color: #272020; 
                                    color: #856923;;
                                    font-size:20px;
                                    font-family: sans-serif;} 
      
/*PAGE3b*/       
                .usingfiddle p  {
                                color: white;
                                font-size:25px;
                                clear:both;
                                font-family:sans-serif;
                                }
/*PAGE3C*/
                    #bowinggif      {
                                    padding-left:250px;
                                    padding-right:250px;
                                    padding-top:0;
                                    margin-top:0;
                                    clear:both;
                                    }

                        #bowparts   { }
 /*PAGE4*/
                div#tunes           {
                                    width:800px;
                                    float: none;
                                    margin-left: auto;
                                    margin-right: auto;
                                    }
            
                 div#tunes>h2       {
                                    width:900px;
                                    //border-top: #312A2A solid 1px;
                                    padding-top:40px;
                                    margin-left:-60px;
                                    text-align: center;
                                    font-size: 25px;
                                    }

                

/*page6 - FORM*/
                form                {
                                    background-color: #413E38;
                                    width: 700px;
                                    margin-left:auto;
                                    margin-right:auto;
                                    margin-top:40px;
                                    }
                
                

			 
            
                form > fieldset, legend {
                                        margin-top:20px;
                                        margin-bottom:30px;
                                        margin-left:auto;
                                        margin-right:auto;
                                        }

                #submit                 {
                                        width:150px;
                                        margin-left:250px;
                                        font-size: 15px;
                                        background-color: #856923;
                                        box-shadow: 1px 1px 1px white;
                                        }
         
   	   
        
     